{% extends 'restaurant/base.html' %}
{% block content %}
<h2>➕ Daftar Foodie Baru</h2>

<form method="post">
    {% csrf_token %}
    <div>
        <label>Username:</label>
        {{ form.username }}
        {% if form.username.errors %}
            <div class="message error">{{ form.username.errors }}</div>
        {% endif %}
    </div>
    
    <div>
        <label>Email:</label>
        {{ form.email }}
        {% if form.email.errors %}
            <div class="message error">{{ form.email.errors }}</div>
        {% endif %}
    </div>
    
    <button type="submit">✅ Daftar</button>
    <a href="{% url 'foodie_list' %}"><button type="button">❌ Batal</button></a>
</form>
{% endblock %}