{% extends 'restaurant/base.html' %}
{% block content %}
<h2>⭐ Semua Review</h2>
<a href="{% url 'review_create' %}"><button>➕ Tambah Review</button></a>

<ul>
    {% for review in reviews %}
    <li>
        <strong>{{ review.foodie.username }}</strong> 
        → <strong>{{ review.restaurant.nama }}</strong>
        <br>
        Rating: 
        {% for i in "12345" %}
            {% if i|add:0 <= review.rating %}⭐{% else %}☆{% endif %}
        {% endfor %}
        ({{ review.rating }}/5)
        <br>
        Komentar: {{ review.komentar|truncatewords:15 }}
        <br>
        <a href="{% url 'review_detail' review.id %}">👁️ Lihat</a> | 
        <a href="{% url 'review_edit' review.id %}">✏️ Edit</a> | 
        <a href="{% url 'review_delete' review.id %}">🗑️ Hapus</a>
    </li>
    {% empty %}
    <li>Belum ada review.</li>
    {% endfor %}
</ul>
{% endblock %}